.flatpickr-calendar.inline {
  box-shadow: none;
}

.flatpickr-calendar.inline::after, .flatpickr-calendar.inline::before {
  display: none;
}

.flatpickr-monthDropdown-months {
  appearance: none !important;
}

.flatpickr-days .selected {
  background: #535850 !important;
  border: none !important;
}

.flatpickr-days .nextMonthDay, .flatpickr-days .prevMonthDay {
  color: rgba(0,0,0,0.54);
}

.flatpickr-day {
  color: rgba(0,0,0,0.54);
}

.flatpickr-disabled {
  cursor: not-allowed;
  color: rgba(57,57,57,0.1) !important;
}

.flatpickr-weekday {
  font-weight: 400 !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months, .flatpickr-current-month .numInputWrapper {
  font-size: 16px;
}

.flatpickr-current-month {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgba(0,0,0,0.54);
}

.flatpickr-weekdays {
  margin-top: 8px;
}

/* .flatpickr-current-month .flatpickr-monthDropdown-months {
  width: 40px;
} */