.flatpickr-calendar {
  width: 275px;
}

.flatpickr-calendar.inline {
  box-shadow: none;
}

.flatpickr-calendar.inline::after, .flatpickr-calendar.inline::before {
  display: none;
}

.flatpickr-monthDropdown-months {
  appearance: none !important;
}

.flatpickr-days .selected {
  background: #535850 !important;
  border: none !important;
}

.flatpickr-days .nextMonthDay, .flatpickr-days .prevMonthDay {
  color: black;
}

.flatpickr-disabled {
  cursor: not-allowed;
  color: rgba(57,57,57,0.1) !important;
}