@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    unicode-range: U+0020-007E, U+10A0-10FF;
  }
  
  @font-face {
    font-family: 'Roboto';
    font-display: block;
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    unicode-range: U+0020-007E, U+10A0-10FF;
  }

  @font-face {
    font-family: 'Roboto';
    font-display: block;
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    unicode-range: U+0020-007E, U+10A0-10FF;
  }

  @font-face {
    font-family: 'Rufina';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Rufina/Rufina-Regular.ttf') format('truetype');
    unicode-range: U+0020-007E, U+10A0-10FF;
  }
  
  @font-face {
    font-family: 'Rufina';
    font-display: block;
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Rufina/Rufina-Bold.ttf') format('truetype');
    unicode-range: U+0020-007E, U+10A0-10FF;
  }

  @font-face {
    font-family: 'Shippori Mincho';
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Shippori_Mincho/ShipporiMincho-Regular.ttf') format('truetype');
    unicode-range: U+0020-007E, U+10A0-10FF;
  }
  
  @font-face {
    font-family: 'Shippori Mincho';
    font-display: block;
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/Shippori_Mincho/ShipporiMincho-Medium.ttf') format('truetype');
    unicode-range: U+0020-007E, U+10A0-10FF;
  }
  
  @font-face {
    font-family: 'Shippori Mincho';
    font-display: block;
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/Shippori_Mincho/ShipporiMincho-SemiBold.ttf') format('truetype');
    unicode-range: U+0020-007E, U+10A0-10FF;
  }

  @font-face {
    font-family: 'Shippori Mincho';
    font-display: block;
    font-style: normal;
    font-weight: 800;
    src: url('/fonts/Shippori_Mincho/ShipporiMincho-Bold.ttf') format('truetype');
    unicode-range: U+0020-007E, U+10A0-10FF;
  }
}